
/Ejercicios/JavaApplication1/nbproject/private/
/Ejercicios/Animal/nbproject/private/
/Ejercicios/Animal/build/
/Ejercicios/Calculadora2/nbproject/private/
/Ejercicios/Calculadora2/build/
/Ejercicios/ScientificCalculator/target/
/Ejercicios/Prueba/target/
/Ejercicios/TicTacToe/nbproject/private/
/Ejercicios/triki/tictactoe-main/target/
/Ejercicios/TicTacToe/target/
/Ejercicios/MVC/target/
/Ejercicios/Factory/target/
/Ejercicios/Lavadora/target/
/Ejercicios/SimuladorBancario/target/
/Ejercicios/Quiz_1/WezeParking/target/
/Ejercicios/Prototype/target/
/Ejercicios/Decorador/target/
/Ejercicios/SistemaGestionBancaria/target/
/Ejercicios/Estrategia/target/
/Ejercicios/ClasificadorUsuarios/target/
