
/Ejercicios/JavaApplication1/nbproject/private/
/Ejercicios/Animal/nbproject/private/
/Ejercicios/Animal/build/
/Ejercicios/Calculadora2/nbproject/private/
/Ejercicios/Calculadora2/build/
/Ejercicios/ScientificCalculator/target/
/Ejercicios/Prueba/target/
/Ejercicios/TicTacToe/nbproject/private/
